:root {
  --color-my-favorite: #5eff00;
}

.variableFavoriteColor {
  color: var(--color-my-favorite);
}

$hi: #ae34ca;
$hi-dark: lighten($hi, 20%);

$my-fav-color: #39f233;
$first-button-color: #0f90ec;
$second-button-background-color: #dead8d;
