:root {
  --color-my-favorite: #5eff00;
}

.variableFavoriteColor {
  color: var(--color-my-favorite);
}

$hi: #ae34ca;
$hi-dark: darken($hi, 50%);

.saasVariable {
  color: $hi-dark;
}

$primary-color: #007bff;
$background-color: #f0f0f0;
